<?php
/**********************************************************************************
 *  Defines the path to data dir on the server
 *
 * 'DATA_DIR' , '/data/' => Docker, default
 * 'DATA_DIR' , dirname(__DIR__) . '/data/' => If data is in lemanager folder tree (lemanager/data/)
 * 'DATA_DIR' , '/fullpath/to/data/' => path to data dir
 *
 **********************************************************************************/

define('DATA_DIR', '/data/');

/*********************************************************************************
 *  Defines if we use callback event function from subscriber
 * 
*********************************************************************************/
define ('USE_CALLBACK', false);

/*********************************************************************************
 *  Defines command lines for callback functions
 *
 *********************************************************************************/

define ('COPY_SCRIPT', '');
define ('RELOAD_SCRIPT', '');

